* {
  margin: 0;
}

.App {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: #1b1b40;
}

.color_one {
  background-color: #52b7e9;
}

.color_two {
  background-color: #52b7e9;
}

.color_three {
  background-color: #189de4;
}

.color_four {
  background-color: #146ca4;
}

.color_five {
  background-color: #df4c73;
  color: white;
}

.addHover:hover {
  background-color: #ffb60d;
  color: white;
}
