.header {
  z-index: 2;
  position: fixed;
  left: 0;
  height: 5rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-top: 0.3rem solid #df4c73;
  border-bottom: 1px solid black;
}

img {
  height: 4rem;
}

.searchBar {
  margin: 0 0.5rem;
  width: 20%;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white !important;
}

.submit {
  background-color: #df4c73;
  color: white;
  border: none;
  height: 2rem;
  border-radius: 0.5rem;
}
